/* Antonello's code. Git-Hub: antoinde */

/* ***********GENERICS************ */

/*reset style css*/
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

img {
  width: 100%;
  border-radius: 50%;
}

/* ***********UTILITIES************ */

.flex { display: flex; }
.v-a-center { vertical-align: center; }
.j-c-center { justify-content: center; }
.grow { flex-grow: 1; }
.shrink { flex-shrink: 1; }
.column { flex-direction: column; }
.row { flex-direction: row; }
.c-green { background-color: #009688; }
.c-white { background-color: #eaeaea; }
.c-red { background-color: red; }
.c-blue { background-color: blue; }
.b-test { border: 5px dashed brown; }

/* ***********CONTENT************ */
.web-app-container {
  margin: 25px auto;
  max-width: 1200px;
  height: calc(100vh - 50px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contacts {
  width: 400px;
}
.logged-user {
  background-color: #eaeaea;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active-profile {
  padding: 5px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.profile-image {
  width: 50px;
  cursor: pointer;
}
.top-grey-buttons {
  display: flex;
  column-gap: 5px;
  margin-right: 10px;
}
.top-grey-buttons button {
  border: none;
  background-color: transparent;
}
.top-grey-buttons i:hover {
  filter: contrast(0.1);
}
.top-grey-buttons i {
  margin: 0 5px;
  color: #b1b1b1;
  font-size: 1.5rem;
  filter:contrast(1);
}
.notification {
  background-color: #8edafc;
  padding: 15px 20px;
  font-size: 0.85rem;
  display: flex;
  column-gap: 10px;
}
.notification span{
  font-size: 1.2rem;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.notification span i{
  color: #8edafc;
}
.notification-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notification u{
  color:slategrey;
  cursor: pointer;
}
.search {
  padding: 5px;
}
.search button{
  width: 15%;
  padding: 5px 15px;
  background-color: white;
  border: 2px solid grey;
  cursor: pointer;
}
.search input {
  width: 83%;
  padding: 5px 15px;
  border: 2px solid grey;

}